<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0" name="viewport">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/hud.css">
    <link rel="stylesheet" href="fonts/notify.css">
    <link rel="stylesheet" href="css/noty.css" />
    <link rel="stylesheet" href="css/theme.css" />
</head>
<body>

    <div id="safezone">
        <div class="inGameHud" v-if="show" style="">
			<div class="header_hud">
				<span style="display: inline-flex;">ID: {{playerId}} ({{personId}}) <img src="./images/hud/logo.png" width="85" height="20" style="margin-left: 6px;margin-top: 2px;"></span>
			</div>
			<div class="state">
				<div class="balance">${{money}}</div>
				<div class="balance">${{bank}}</div>
			</div>
            <div class="car_hud" :style="{ opacity: inVeh ? 1 : 0 }">
                <div class="info_hud">
                    <div v-if="engine"><img src="images/hud/engine.svg"></div>
                    <div v-else><img src="images/hud/engine.svg" style="opacity:0.5;transition: all .33s;"></div>
                    <div v-if="belt"><img src="images/hud/belt.svg"></div>
                    <div v-else><img src="images/hud/belt.svg" style="opacity:0.5;transition: all .33s;"></div>
                    <div v-if="doors"><img src="images/hud/door.svg"></div>
                    <div v-else><img src="images/hud/door.svg" style="opacity:0.5;transition: all .33s;"></div>
                </div>
                <div class="speed_hud">
                    <div class="speed"><span>{{speed}}</span>км/ч</div>
                    <div class="stats">
                        <div class="fuel">Топливо:<span>{{fuel}}F</span></div>
                        <div class="armor">Защита:<span>{{hp}}%</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="chat" class="chat">
        <ul id="chat_messages"></ul>
    </div>

    <div id="prompt" v-if="text">
        <div class="text" v-html="text"></div>
    </div>
    <div id="notify"></div>
    <div id="effect"></div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/hud.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/noty.min.js"></script>
    <script src="js/notify.js"></script>
    <script src="https://kit.fontawesome.com/c552bfdf6a.js" crossorigin="anonymous"></script>

    <script>
        function hidehud(toggle) {
            if (toggle) {
                HUD.show = false;
                logotype.show = false;
            } else {
                HUD.show = true;
                logotype.show = true;
            }
        }
        function hidehelp(toggle) {
            if (toggle) {
                $('.help').hide();
            } else {
                $('.help').show();
            }
        }
		</script>

    <script>function updateSafeZoneSize(screenWidht, screenHeight, safeZoneSize) {var savezoneDiv = document.getElementById("safezone");safeZoneSize = (((1.0 - safeZoneSize) * 0.5) * 100.0);savezoneDiv.style.right = savezoneDiv.style.left = ((screenWidht / 100) * safeZoneSize) + "px";savezoneDiv.style.top = savezoneDiv.style.bottom = ((screenHeight / 100) * safeZoneSize) + "px";return true;}</script>
</body>
</html>